h1{
    color: rgb(65, 56, 56)
}

legend{
    color: rgb(23, 30, 70);
    font-weight: bold;
}
.SKILL1{
    height: 20vmin;
    width: 20vmin;
}
.SKILL2{
    height: 20vmin;
    width: 20vmin;
    margin-right: 20px;
}

.SKILL3{
    width: 20vmin;
    height: 20vmin;
}

.toggle-botton{
    width: 30vmin;
    height: 10vmin;
    background-color: rgb(31, 31, 78);
    font-size: 3vmin;
    color: azure;
    font-weight: bold;
    font-style: underline;
}

.skill-sec{
    display: none;
}

fieldset{
    background-color: rgb(208, 228, 247);
    border: rgb(28, 54, 65) solid;
    
}