body{
    background-color: bisque;
}

legend{
    color: brown;
}

label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    margin-left: 20px;
    font-size: 1rem serif;
    text-decoration: underline;
}

.edu-sec{
    margin-top: 30px;

}

.skill-sec{
    margin-top: 30px;
}

.exp-sec{
    margin-top: 30px;
}

#btn{
    width: calc(100% - 40px); 
    margin: auto;
    margin-top: 40px;
    margin-left: 4vmin;
    font-size: 20px;
    color: rgb(141, 6, 6);
    background-color: rgb(228, 160, 160);
    padding: 10px;
    border-radius: 8px;
}

 textarea{
    width: calc(100% - 40px); 
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
} 

fieldset{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border: rgba(168, 16, 16, 0.63) 1.5px solid;
    background-color: rgba(250, 235, 215, 0.877);
    font-size: 2em;
}

input{
     height: 50px;
     width: 60vw;
     font-size: 1rem;
     border: 1px solid brown;
}

#pic{
    border: none;
    /* border-radius: 50%;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 60vw;
    font-size: 1rem;
    border: 1px solid brown; */
}

select{
    margin-bottom: 20px;
    font-size: large;
    size: 2rem;
    padding: 5px;
    margin: 5px;
}

#heading{
    color: brown;
}


.btn2{
    width: calc(100% - 10px); 
    margin: auto;
    margin-top: 40px;
    /* margin-left: 30vmin; */
    margin-left: 2vmin;
    color: rgb(12, 10, 10);
    background-color: rgb(165, 160, 228);
    padding: 10px;
    border-radius: 8px;
    font: 1.5em sans-serif;
    font-weight: 100;

}

@media print {
    #resume-form{
        display: none;
    }
    .btn2 , #heading , .link1{
        display: none!important;
    }
#output{
        display: block;
}#edit{
    display: none!important
}
}

.link1 {
    display: none; /* Default hidden */
    color: rgb(5, 5, 5); /* Link color */
    background-color: rgb(233, 167, 227); /* Temporary background */
    text-decoration: underline; /* Link style */
    padding: 10px;
    border: black 1px solid;
    width: calc(100% - 30px);
    text-align: center;
    margin-top : 25px;
    /* margin-left: 60vmin; */
    margin-left: 2vmin;
    font-weight: 100;
    font: 1.5em sans-serif;
}
    

#container{
    display: flex;
    width: 80%;
    height: auto;
    border: 2px solid rgb(14, 77, 102);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    margin-right: 20px}

#left{
    width: 60%;
    background-color: rgb(248, 248, 243);
    color: #000;
    padding: 40px;
}

#right{
    width: 30%;
    background-color: rgb(14, 77, 102);
    border-left: 2px solid rgb(14, 77, 102);
    padding: 20px;
    color: antiquewhite;

}

#edit{
    background-color: rgb(79, 79, 126);
    color: blanchedalmond;
    padding: 10px;
    margin: 10px;
    font: 20px sans-serif;

}

@media (min-width:320px) and (max-width:700px) {
    #container{
    margin-right: 20px;
    margin-left: -20px;
    }
    #right {
        width: 70%;
}h2, p{
        font-size: 14px;
    }img{
        height: 80px;
        width: 80px;
    }h1{
        font-size: 20px
    }
    #left{
        width: 90%;
        
        

    }
}

@media print {
    body {
       -webkit-print-color-adjust: exact; /* Background color ko exactly maintain karta hai */
       print-color-adjust: exact;
    }
    #right { /* Isko blue section ke selector ke saath replace karen */
       background-color: rgb(14, 77, 102); /* Replace #yourBlueColor apne blue color code se */
    }
 }