body{
    background-color: bisque;
}

legend{
    color: brown;
}

label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: brown;
    margin-left: 20px;
}

.edu-sec{
    margin-top: 30px;

}

.skill-sec{
    margin-top: 30px;
}

.exp-sec{
    margin-top: 30px;
}

#btn{
    width: calc(100% - 40px); 
    margin: auto;
    margin-top: 40px;
    margin-left: 4vmin;
    font-size: 20px;
    color: rgb(141, 6, 6);
    background-color: rgb(228, 160, 160);
    padding: 10px;
    border-radius: 8px;
}

 textarea{
    width: calc(100% - 40px); 
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
} 

fieldset{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border: rgba(168, 16, 16, 0.63) 1.5px solid;
    background-color: rgba(250, 235, 215, 0.877);
}

input{
     height: 25px 
}

#output{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: none;
    outline: none;
}

#output h2 {
    color: black;
}
